n8n/workflow-soporte-correo.json
{
  "name": "Soporte SAC - Correo (piloto Ecuador)",
  "nodes": [
    {
      "parameters": {
        "pollTimes": { "item": [{ "mode": "everyMinute" }] }
      },
      "id": "trigger-soporte1",
      "name": "Outlook Trigger - soporte1",
      "type": "n8n-nodes-base.microsoftOutlookTrigger",
      "typeVersion": 1,
      "position": [0, 0],
      "notes": "Cuenta de soporte del piloto. El Code de abajo tolera el modo Simplify encendido o apagado; para que llegue el cuerpo COMPLETO del correo (no solo el preview), conviene apagar Simplify.",
      "credentials": {
        "microsoftOutlookOAuth2Api": { "id": "REEMPLAZAR", "name": "Outlook soporte" }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "loose" },
          "conditions": [
            {
              "leftValue": "={{ $json.subject ?? '' }}",
              "rightValue": "CASO-",
              "operator": { "type": "string", "operation": "notContains" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-no-es-respuesta-agente",
      "name": "IF: no es respuesta de agente",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [220, 0],
      "notes": "Los correos con 'CASO-' en el asunto son respuestas de agentes digitales: los procesa el flujo 2 (workflow-respuesta-agente.json). Salida true = correo normal de cliente."
    },
    {
      "parameters": {
        "jsCode": "const m = $json;\n\n// El trigger de Outlook puede entregar el correo \"simplificado\" (from es un\n// string, to es [string], solo bodyPreview) o completo (from.emailAddress.address,\n// toRecipients, body.content), segun el toggle \"Simplify\" del nodo. Soporta ambos.\nconst dir = (v) => (typeof v === 'string' ? v : (v?.emailAddress?.address ?? ''));\n\nconst remitente = dir(m.from) || dir(m.sender) || '';\n\n// Correos sin remitente real (notificaciones del propio Microsoft, avisos del\n// sistema) no son consultas de clientes: se descartan para que no lleguen al\n// cerebro. Devolver [] corta el flujo para este item, sin marcarlo como error.\nif (!remitente) return [];\n\nconst cuentaSoporte =\n  (Array.isArray(m.to) ? m.to[0] : '') ||\n  (m.toRecipients?.[0]?.emailAddress?.address ?? '') ||\n  '';\n\n// Las respuestas que envia el propio asistente salen desde la cuenta de soporte;\n// si el trigger las levanta (p.ej. quedan en Enviados o el buzon es compartido),\n// no deben reprocesarse: causarian un bucle de auto-respuesta. Se descartan aqui\n// ademas de la guarda equivalente en el cerebro.\nif (cuentaSoporte && remitente.trim().toLowerCase() === cuentaSoporte.trim().toLowerCase()) return [];\n\nreturn [{\n  json: {\n    hiloId: m.conversationId,\n    mensajeId: m.id,\n    remitente,\n    cuentaSoporte,\n    asunto: m.subject ?? '',\n    cuerpo: m.body?.content ?? m.bodyPreview ?? '',\n    adjuntos: [],\n  },\n}];"
      },
      "id": "code-armar-payload",
      "name": "Code: armar payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://dq4jespco3wlobabm3ugdjbg640zdkyd.lambda-url.us-east-2.on.aws/",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "http-cerebro",
      "name": "HTTP Request -> cerebro",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [660, 0],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "notes": "El cerebro devuelve 503 cuando el servicio de IA no esta disponible (cuota agotada / rate limit): en ese caso NO respondio al usuario y el correo debe reintentarse. retryOnFail da tiempo a que la cuota se recupere dentro de la misma ejecucion. Si tras los reintentos sigue fallando, la ejecucion termina en error y no se envia ninguna respuesta (mejor que responder algo incorrecto)."
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "loose" },
          "conditions": [
            {
              "leftValue": "={{ $json.accion }}",
              "rightValue": "ninguna",
              "operator": { "type": "string", "operation": "notEquals" }
            },
            {
              "leftValue": "={{ $json.accion }}",
              "rightValue": "error_temporal",
              "operator": { "type": "string", "operation": "notEquals" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-hay-respuesta",
      "name": "IF: hay respuesta",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [880, 0],
      "notes": "El cerebro devuelve accion='ninguna' cuando no hay nada que responder (correo duplicado ya respondido, o correo enviado por la propia cuenta de soporte). En esos casos NO se responde. 'error_temporal' normalmente llega como 503 y ni siquiera pasa por aqui; se filtra tambien por defensa. true = hay algo que responder."
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "loose" },
          "conditions": [
            {
              "leftValue": "={{ $json.accion }}",
              "rightValue": "escalar",
              "operator": { "type": "string", "operation": "equals" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-es-escalar",
      "name": "IF: es escalar",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1100, 0],
      "notes": "El cerebro devuelve accion = responder | escalar | responder_y_crear_ticket. Solo 'escalar' necesita el paso extra de delegacion; TODOS terminan respondiendo al cliente. true = escalar; false = responder / responder_y_crear_ticket."
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "send",
        "toRecipients": "={{ $('HTTP Request -> cerebro').item.json.escalamiento.correoDelegacion.para }}",
        "subject": "={{ $('HTTP Request -> cerebro').item.json.escalamiento.correoDelegacion.asunto }}",
        "bodyContent": "={{ $('HTTP Request -> cerebro').item.json.escalamiento.correoDelegacion.cuerpoHtml ?? $('HTTP Request -> cerebro').item.json.escalamiento.correoDelegacion.cuerpo }}"
      },
      "id": "outlook-delegacion",
      "name": "Outlook: Enviar delegacion a agente",
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [1340, -120],
      "notes": "Envia el caso al agente digital. El asunto trae [CASO-XXXXXX]: el agente debe responder manteniendolo, para que el flujo 2 devuelva su respuesta al cliente en el hilo original.",
      "credentials": {
        "microsoftOutlookOAuth2Api": { "id": "REEMPLAZAR", "name": "Outlook soporte" }
      }
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "reply",
        "messageId": "={{ $('Code: armar payload').item.json.mensajeId }}",
        "message": "={{ $('HTTP Request -> cerebro').item.json.textoRespuestaHtml ?? $('HTTP Request -> cerebro').item.json.textoRespuesta }}",
        "additionalFields": { "replyToSenderOnly": true }
      },
      "id": "outlook-reply",
      "name": "Outlook: Reply (mismo hilo)",
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [1580, 0],
      "notes": "Responde sobre el mensajeId del correo del cliente: la respuesta cae en el mismo hilo. Recibe tanto de la rama 'escalar' (via delegacion) como de la rama normal.",
      "credentials": {
        "microsoftOutlookOAuth2Api": { "id": "REEMPLAZAR", "name": "Outlook soporte" }
      }
    },
    {
      "parameters": {
        "content": "## Flujo 1: correo del cliente\n1. Trigger levanta el correo del buzon de soporte.\n2. IF descarta respuestas de agentes (asunto con CASO-, esos van al flujo 2).\n3. Code arma el payload (tolera Simplify on/off; descarta correos sin remitente y los enviados por la propia cuenta de soporte).\n4. HTTP -> cerebro (Gemini decide accion + textoRespuesta). Reintenta si el cerebro devuelve 503 (IA sin cuota).\n5. IF: hay respuesta -> corta si accion='ninguna' (duplicado ya respondido / correo propio).\n6. IF: si accion='escalar', manda el correo de delegacion al agente y LUEGO responde al cliente. Si no, responde directo.\n\nRamas con respuesta terminan en 'Outlook: Reply (mismo hilo)'.\n\n## Jira en STANDBY\nCuando salga de standby, agregar el nodo Jira en la rama false (responder_y_crear_ticket) antes del Reply. Ver docs/SETUP_N8N.md.",
        "height": 340,
        "width": 380
      },
      "id": "sticky-notas",
      "name": "Notas",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [660, 220]
    }
  ],
  "connections": {
    "Outlook Trigger - soporte1": {
      "main": [[{ "node": "IF: no es respuesta de agente", "type": "main", "index": 0 }]]
    },
    "IF: no es respuesta de agente": {
      "main": [[{ "node": "Code: armar payload", "type": "main", "index": 0 }], []]
    },
    "Code: armar payload": {
      "main": [[{ "node": "HTTP Request -> cerebro", "type": "main", "index": 0 }]]
    },
    "HTTP Request -> cerebro": {
      "main": [[{ "node": "IF: hay respuesta", "type": "main", "index": 0 }]]
    },
    "IF: hay respuesta": {
      "main": [[{ "node": "IF: es escalar", "type": "main", "index": 0 }], []]
    },
    "IF: es escalar": {
      "main": [
        [{ "node": "Outlook: Enviar delegacion a agente", "type": "main", "index": 0 }],
        [{ "node": "Outlook: Reply (mismo hilo)", "type": "main", "index": 0 }]
      ]
    },
    "Outlook: Enviar delegacion a agente": {
      "main": [[{ "node": "Outlook: Reply (mismo hilo)", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1" }
}
