n8n/workflow-soporte-correo.json
{
  "name": "Soporte SAC - Correo (piloto Ecuador)",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        }
      },
      "id": "trigger-soporte",
      "name": "Outlook Trigger - soporte",
      "type": "n8n-nodes-base.microsoftOutlookTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "notes": "UNICO trigger del sistema: levanta TODOS los correos del buzon de soporte (consultas de clientes Y respuestas de agentes a casos delegados). El cerebro distingue unos de otros. Para que llegue el cuerpo COMPLETO del correo (no solo el preview), apaga Simplify.",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "REEMPLAZAR",
          "name": "Outlook soporte"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const m = $json;\n\n// El trigger de Outlook puede entregar el correo \"simplificado\" (from es un\n// string, to es [string], solo bodyPreview) o completo (from.emailAddress.address,\n// toRecipients, body.content), segun el toggle \"Simplify\" del nodo. Soporta ambos.\n// email() saca la direccion limpia aunque venga como \"Nombre <correo@dominio>\".\nconst email = (v) => {\n  const s = (typeof v === 'string' ? v : (v?.emailAddress?.address ?? '')).trim();\n  const mm = s.match(/<([^>]+)>/);\n  return (mm ? mm[1] : s).trim().toLowerCase();\n};\n\nconst remitente = email(m.from) || email(m.sender) || '';\n\n// Correos sin remitente real (notificaciones del propio Microsoft, avisos del\n// sistema) no son consultas: se descartan. Devolver [] corta el flujo para este\n// item, sin marcarlo como error.\nif (!remitente) return [];\n\n// Sin el id del mensaje no se puede responder en el hilo: Graph exige el id\n// exacto y, si va vacio, devuelve 400 \"ErrorInvalidIdMalformed\". Se descarta\n// aqui en vez de dejar que reviente el nodo de Outlook al final del flujo.\nconst mensajeId = m.id ?? m.messageId ?? '';\nif (!mensajeId) return [];\n\nconst cuentaSoporte =\n  (Array.isArray(m.to) ? email(m.to[0]) : '') ||\n  email(m.toRecipients?.[0]?.emailAddress?.address) ||\n  '';\n\n// Las respuestas que envia el propio asistente (y los correos de delegacion y\n// de aviso de ticket) salen desde una cuenta de soporte; si el trigger las\n// levanta, no deben reprocesarse: causarian bucles. Este es el primer filtro;\n// el cerebro tiene ademas la lista blanca CUENTAS_SOPORTE, que atrapa tambien\n// los avisos dirigidos a un agente (cuyo 'to' NO es la cuenta de soporte).\nif (cuentaSoporte && remitente === cuentaSoporte) return [];\n\nconst cuerpoCompleto = m.body?.content ?? '';\nconst cuerpo = cuerpoCompleto || m.bodyPreview || '';\nconst cuerpoTruncado = !cuerpoCompleto && (m.bodyPreview ?? '').length >= 250;\n\nreturn [{\n  json: {\n    hiloId: m.conversationId,\n    mensajeId,\n    remitente,\n    cuentaSoporte,\n    asunto: m.subject ?? '',\n    cuerpo,\n    cuerpoTruncado,\n    adjuntos: [],\n  },\n}];"
      },
      "id": "code-armar-payload",
      "name": "Code: armar payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        220,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://dq4jespco3wlobabm3ugdjbg640zdkyd.lambda-url.us-east-2.on.aws/",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "http-cerebro",
      "name": "HTTP Request -> cerebro",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        440,
        0
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "notes": "El cerebro decide TODO: si el correo es de un cliente lo procesa con la IA; si es la respuesta de un agente a un caso delegado (lo reconoce por el conversationId del hilo de delegacion) devuelve accion='responder_al_cliente' con el mensajeId del correo ORIGINAL del cliente.\n\nDevuelve 503 cuando la IA no esta disponible (cuota agotada): en ese caso NO respondio y el correo debe reintentarse."
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.accion }}",
                    "rightValue": "escalar",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "escalar"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.accion }}",
                    "rightValue": "ignorar",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "ignorar"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.accion }}",
                    "rightValue": "responder_y_crear_ticket",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "crear_ticket"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.accion }}",
                    "rightValue": "ninguna",
                    "operator": {
                      "type": "string",
                      "operation": "notEquals"
                    }
                  },
                  {
                    "leftValue": "={{ $json.accion }}",
                    "rightValue": "error_temporal",
                    "operator": {
                      "type": "string",
                      "operation": "notEquals"
                    }
                  },
                  {
                    "leftValue": "={{ $json.accion }}",
                    "rightValue": "ignorar",
                    "operator": {
                      "type": "string",
                      "operation": "notEquals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "responder"
            }
          ]
        },
        "options": {
          "fallbackOutput": "none"
        }
      },
      "id": "switch-accion",
      "name": "Switch: accion",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        660,
        0
      ],
      "notes": "escalar      -> correo de delegacion al agente digital + respuesta al cliente.\nignorar      -> correo basura: se mueve a Correo no deseado, no se responde.\ncrear_ticket -> avisa por correo al equipo (Cuentas / Servicio Digital) + respuesta al cliente.\nresponder    -> solo responde en el hilo.\n'ninguna' y 'error_temporal' no salen por ninguna rama (no se envia nada).\n\nOJO: el Switch entrega al PRIMER output que casa, por eso 'responder' va al final."
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "send",
        "toRecipients": "={{ $json.escalamiento.correoDelegacion.para }}",
        "subject": "={{ $json.escalamiento.correoDelegacion.asunto }}",
        "bodyContent": "={{ $json.escalamiento.correoDelegacion.cuerpoHtml ?? $json.escalamiento.correoDelegacion.cuerpo }}",
        "additionalFields": {
          "bodyContentType": "html"
        }
      },
      "id": "outlook-delegacion",
      "name": "Outlook: Enviar delegacion a agente",
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        880,
        -140
      ],
      "notes": "Envia el caso al AGENTE DIGITAL, con el detalle completo que recopilo el asistente. El asunto trae [CASO-XXXXXX] + un resumen corto. El cuerpo se manda como HTML (bodyContentType=html); sin eso Outlook lo entrega como texto plano y se ven las etiquetas <div> crudas.",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "REEMPLAZAR",
          "name": "Outlook soporte"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://dq4jespco3wlobabm3ugdjbg640zdkyd.lambda-url.us-east-2.on.aws/?accion=registrar_delegacion",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ codigo: $('HTTP Request -> cerebro').item.json.escalamiento.codigo, conversationIdDelegacion: $json.conversationId, mensajeIdDelegacion: $json.id }) }}",
        "options": {}
      },
      "id": "http-registrar-delegacion",
      "name": "HTTP: registrar hilo de delegacion",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1100,
        -140
      ],
      "onError": "continueRegularOutput",
      "notes": "CLAVE DEL ENRUTADO: guarda el conversationId del correo de delegacion recien enviado. Cuando el agente responda, el cerebro reconocera su correo por ese id — sin depender del texto del asunto.\n\nSi este paso falla, el sistema aun funciona por el respaldo del codigo CASO- en el asunto, por eso continua ante error."
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "reply",
        "messageId": "={{ $('HTTP Request -> cerebro').item.json.mensajeIdRespuesta || $('Code: armar payload').item.json.mensajeId }}",
        "message": "={{ $('HTTP Request -> cerebro').item.json.textoRespuestaHtml ?? $('HTTP Request -> cerebro').item.json.textoRespuesta }}",
        "additionalFields": {
          "replyToSenderOnly": true,
          "bodyContentType": "html"
        }
      },
      "id": "outlook-reply",
      "name": "Outlook: Reply (mismo hilo)",
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        1540,
        0
      ],
      "notes": "UNICO nodo de respuesta. 'mensajeIdRespuesta' lo resuelve el cerebro: en un correo normal es el que acaba de llegar; en la respuesta de un agente es el correo ORIGINAL del cliente, de modo que la solucion cae en el hilo donde el cliente escribio. Si por lo que sea viniera vacio, se usa como respaldo el id del correo entrante (evita el 400 'Id is malformed').",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "REEMPLAZAR",
          "name": "Outlook soporte"
        }
      }
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "move",
        "messageId": "={{ $('Code: armar payload').item.json.mensajeId }}",
        "folderId": {
          "__rl": true,
          "value": "junkemail",
          "mode": "id"
        }
      },
      "id": "outlook-mover-basura",
      "name": "Outlook: mover a Correo no deseado",
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        880,
        180
      ],
      "onError": "continueRegularOutput",
      "notes": "Correo basura detectado por el cerebro (accion='ignorar'): publicidad, newsletter, buzon no-reply, respuesta automatica de ausencia o rebote de entrega. Se saca de la bandeja de entrada para que el trigger no lo vuelva a levantar. 'junkemail' es el nombre de carpeta bien conocido de Graph; si tu buzon usa otra carpeta, eligela con el selector del nodo.",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "REEMPLAZAR",
          "name": "Outlook soporte"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "leftValue": "={{ $('HTTP Request -> cerebro').item.json.mensajeIdRespuesta || $('Code: armar payload').item.json.mensajeId }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-hay-mensaje-respuesta",
      "name": "IF: hay mensaje al que responder",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1320,
        0
      ],
      "notes": "Graph responde 400 ErrorInvalidIdMalformed si el id del mensaje va vacio. Aqui se corta antes: sin id no hay a que responder. true = se puede responder."
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "send",
        "toRecipients": "={{ $json.ticket.correoTicket.para }}",
        "subject": "={{ $json.ticket.correoTicket.asunto }}",
        "bodyContent": "={{ $json.ticket.correoTicket.cuerpoHtml ?? $json.ticket.correoTicket.cuerpo }}",
        "additionalFields": {
          "bodyContentType": "html"
        }
      },
      "id": "outlook-ticket-equipo",
      "name": "Outlook: Avisar ticket al equipo",
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        880,
        320
      ],
      "notes": "Mientras Jira este en STANDBY, este correo es lo UNICO que hace que el ticket llegue a una persona: sin el, el ticket se queda dormido en Mongo y al cliente ya se le dijo que 'el equipo lo atendera'. El destinatario lo resuelve el cerebro (CORREO_EQUIPO_CUENTAS / CORREO_EQUIPO_SERVICIO_DIGITAL, con AGENTES_DIGITALES de respaldo).\n\nCuando Jira se conecte, este nodo se sustituye por el nodo Jira.\n\nEl cuerpo va como HTML (bodyContentType=html); sin eso llega con las etiquetas <div> a la vista.",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "REEMPLAZAR",
          "name": "Outlook soporte"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://dq4jespco3wlobabm3ugdjbg640zdkyd.lambda-url.us-east-2.on.aws/?accion=registrar_delegacion",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ codigo: $('HTTP Request -> cerebro').item.json.ticket.jiraKey, conversationIdDelegacion: $json.conversationId, mensajeIdDelegacion: $json.id }) }}",
        "options": {}
      },
      "id": "http-registrar-ticket",
      "name": "HTTP: registrar hilo ticket",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1100,
        320
      ],
      "onError": "continueRegularOutput",
      "notes": "VIAJE DE VUELTA DEL TICKET: guarda el conversationId del aviso recien enviado al equipo. Cuando el equipo responda a ese aviso, el cerebro lo reconoce por ese id y reenvia la respuesta al hilo original del cliente, igual que con un caso.\n\nSi falla, queda el respaldo del codigo del ticket en el asunto, por eso continua ante error."
    },
    {
      "parameters": {
        "content": "## Un solo flujo\nTodos los correos del buzon entran por el mismo trigger. El cerebro decide que hacer:\n\n- Basura (publicidad, no-reply, auto-reply, rebote) -> 'ignorar': a Correo no deseado, sin responder ni gastar cuota de IA.\n- Consulta de un cliente -> la IA responde / pide los datos que faltan / crea ticket / escala.\n- Respuesta de un agente a un caso delegado -> se reconoce por el conversationId del hilo de delegacion.\n\n## Dos caminos hacia una persona (no confundirlos)\n- TICKET ('responder_y_crear_ticket'): reseteo de clave o incidencia de plataforma. Lo atiende un EQUIPO (Cuentas / Servicio Digital) y responde el al cliente. Mientras Jira este en standby, el aviso va por correo.\n- CASO ('escalar'): el asistente no pudo resolverlo. Lo atiende un AGENTE DIGITAL y su respuesta vuelve automaticamente al hilo del cliente.\n\n## Jira en STANDBY\nCuando se conecte, sustituir 'Outlook: Avisar ticket al equipo' por el nodo Jira. Ver docs/SETUP_N8N.md.",
        "height": 460,
        "width": 440
      },
      "id": "sticky-notas",
      "name": "Notas",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        440,
        200
      ]
    }
  ],
  "connections": {
    "Outlook Trigger - soporte": {
      "main": [
        [
          {
            "node": "Code: armar payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: armar payload": {
      "main": [
        [
          {
            "node": "HTTP Request -> cerebro",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request -> cerebro": {
      "main": [
        [
          {
            "node": "Switch: accion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch: accion": {
      "main": [
        [
          {
            "node": "Outlook: Enviar delegacion a agente",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Outlook: mover a Correo no deseado",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Outlook: Avisar ticket al equipo",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IF: hay mensaje al que responder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Outlook: Enviar delegacion a agente": {
      "main": [
        [
          {
            "node": "HTTP: registrar hilo de delegacion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP: registrar hilo de delegacion": {
      "main": [
        [
          {
            "node": "IF: hay mensaje al que responder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF: hay mensaje al que responder": {
      "main": [
        [
          {
            "node": "Outlook: Reply (mismo hilo)",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Outlook: Avisar ticket al equipo": {
      "main": [
        [
          {
            "node": "HTTP: registrar hilo ticket",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP: registrar hilo ticket": {
      "main": [
        [
          {
            "node": "IF: hay mensaje al que responder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  }
}